/* Custom styles */
body {
    font-family: 'Roboto', sans-serif;
  }
  
  /* Styling for the hero unit */
  header {
    background-color: #f8f9fa;
    padding: 50px 0;
    color: #333;
  }
  
  /* Styling for footer links */
  footer a {
    color: #333;
  }
  
  /* Remove underline on hover for footer links */
  footer a:hover {
    text-decoration: none;
  }
  
  /* Responsive adjustments */
  @media (max-width: 767px) {
    .jumbotron {
      padding: 2rem 1rem;
    }
  }
  